<section class="intro fade-in" id="about">
  <h3>Sobre mí</h3>
  <div class="about-content">
    <p>
      Desarrollador Web apasionado por crear experiencias digitales funcionales y eficientes. 
      Graduado en Desarrollo de Aplicaciones Web, he consolidado una base sólida en el stack moderno, 
      centrándome principalmente en <strong>Angular</strong>, <strong>Node</strong>, <strong>MongoDB</strong>   y tecnologías web fundamentales.
    </p>
    <p>
      Mi enfoque combina el aprendizaje continuo con la resolución de problemas reales. 
      Estoy en la búsqueda de mi primera oportunidad profesional, donde pueda aplicar mis conocimientos técnicos, 
      contribuir al éxito de un equipo dinámico y seguir evolucionando como desarrollador.
    </p>
  </div>
</section>
