<section class="proyectos" id="projects">
  <h3>Mis Proyectos</h3>
  
  @for (p of project; track p.titulo) {
    @if (p.titulo === 'LandingPage') {
      <div class="proyecto-card featured-card" (click)="toggleProject(p.titulo)">
        <div class="card-header">
           <img [src]="p.imagen" [alt]="p.titulo">
           <div>
             <h4>{{ p.titulo }} (Proyecto Destacado)</h4>
             <p>Este es mi proyecto más completo...</p>
           </div>
        </div>
        <div class="card-body" [class.is-open]="openProjectId === p.titulo">
           <p>{{ p.descripcion }}</p>
           </div>
      </div>
    }
  }

  <div class="proyectos-grid">
    @for (p of project; track p.titulo) {
      @if (p.titulo !== 'LandingPage') {
        <div class="proyecto-card" (click)="toggleProject(p.titulo)">
          </div>
      }
    }
  </div>
</section>