  <section class="proyectos fade-in" id="projects">
    <h3>Proyectos personales</h3>
    <ul>
      <li>
        <strong>Buscador de GIFs (Angular):</strong> Aplicación web que permite buscar y mostrar GIFs animados usando la API de Giphy. 
        <a href="https://caliixto.github.io/angular-bases/" target="_blank">Ver demo </a> | 
        <a href="https://github.com/caliixto/angular-bases" target="_blank">Ver código</a>
      </li>
    </ul>
    <ul>
      <li>
        <strong>Todo-List:</strong> Aplicación web que permite agregar y eliminar tareas segun el calendario. 
        <a href="https://caliixto.github.io/todo_list/" target="_blank">Ver demo </a> | 
        <a href="https://github.com/caliixto/todo_list" target="_blank">Ver código</a>
      </li>
    </ul>

    <ul>
      <li>
        <strong>Ejemplo Porfolio:</strong> Plantilla adaptable para usar de porfolio. 
        <a href="https://caliixto.github.io/EjemploPorfolio/index.html" target="_blank">Ver demo </a> | 
        <a href="https://github.com/caliixto/EjemploPorfolio.git" target="_blank">Ver código</a>
      </li>
    </ul>

    <ul>
      <li>
        <strong>LandingPage:</strong> Pagina de presentacion moderna  pensada para destacar proyectos. 
        <a href="https://caliixto.github.io/LandingPage" target="_blank">Ver demo </a> | 
        <a href="https://github.com/caliixto/LandingPage.git" target="_blank">Ver código</a>
      </li>
    </ul>

    <ul>
      <li>
        <strong>GamesPage:</strong> Pagina de noticias de videojuegos con diseño responsive. 
        <a href="https://caliixto.github.io/GamesPage" target="_blank">Ver demo </a> | 
        <a href="https://github.com/caliixto/GamesPage.git" target="_blank">Ver código</a>
      </li>
    </ul>
  </section>
  
