  <section class="formacion fade-in">
    <h3>Formación</h3>
    <p>Grado Superior de Desarrollo de Aplicaciones Web (2022 - 2025) en el centro Leonardo Da Vinci.</p>
  </section>

  <section class="habilidades fade-in">
  <h3>Mis Habilidades</h3>

  <div class="filter-buttons">
    <button (click)="filter('todas')" [class.active]="currentFilter==='todas'">Todas</button>
    <button (click)="filter('lenguaje')" [class.active]="currentFilter==='lenguaje'">Lenguajes</button>
    <button (click)="filter('framework')" [class.active]="currentFilter==='framework'">Frameworks</button>
    <button (click)="filter('herramienta')" [class.active]="currentFilter==='herramienta'">Herramientas</button>
  </div>

  <div class="skills-grid">
    @for (sk of displaySkills; track sk.name) {
      <div class="skill-card">
        <img [src]="sk.image" [alt]="sk.name">
        <p>{{sk.name}}</p>
      </div>
    }
  </div>
</section>