<section class="formacion fade-in">
  <h3>Formación</h3>
    <div class="formacion-card">
      <div class="formacion-header">
        <h4>Desarrollo de Aplicaciones Web (DAW)</h4>
        <span class="badge">2022 - 2024</span>
      </div>
      <p class="institucion">Centro Leonardo Da Vinci</p>
      <p class="detalle">Grado Superior enfocado en el desarrollo Full-stack y tecnologías web modernas.</p>
    </div>

    <div class="formacion-card">
      <div class="formacion-header">
        <h4>Técnico en Sistemas Microinformáticos y Redes</h4>
        <span class="badge">2020 - 2024</span>
      </div>
      <p class="institucion">Centro Leonardo Da Vinci</p>
      <ul class="formacion-skills">
        <li>Administración de sistemas operativos (Windows/Linux)</li>
        <li>Montaje y mantenimiento de equipos</li>
        <li>Configuración de redes locales y conectividad</li>
        <li>Seguridad básica y soporte técnico</li>
      </ul>
    </div>
</section>

<section class="habilidades fade-in" id="skills">
  <h3>Tech Stacks</h3>

  <div class="filter-buttons">
    <button (click)="filter('todas')" [class.active]="currentFilter==='todas'">Todas</button>
    <button (click)="filter('lenguaje')" [class.active]="currentFilter==='lenguaje'">Lenguajes</button>
    <button (click)="filter('framework')" [class.active]="currentFilter==='framework'">Frameworks</button>
    <button (click)="filter('herramienta')" [class.active]="currentFilter==='herramienta'">Herramientas</button>
  </div>

  <div class="skills-grid">
    @for (sk of displaySkills; track sk.name) {
      <div class="skill-card">
        <img [src]="sk.image" [alt]="sk.name">
        <p>{{sk.name}}</p>
      </div>
    }
  </div>
</section>